<p id="notice"><%= notice %></p>

<p>
  <strong>Suuji:</strong>
  <%= @hoge.suuji %>
</p>

<p>
  <strong>Mojiretsu:</strong>
  <%= @hoge.mojiretsu %>
</p>

<%= link_to 'Edit', edit_hoge_path(@hoge) %> |
<%= link_to 'Back', hoges_path %>
