<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
      <th>Tel</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mail %></td>
        <td><%= user.tel %></td>
        <td>
          <%= link_to 'Show', company_group_user_path(user.group.company_id, user.group_id, user.id) %><br />
          <%= link_to 'Edit', edit_company_group_user_path(user.group.company_id, user.group_id, user.id) %><br />
          <%= link_to 'Destroy', company_group_path(user.group.company_id, user.group_id, user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @users %>
<%= link_to 'New User', new_company_group_user_path %>
<%= link_to 'Back', company_groups_path %>
