<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>

<%= link_to 'Edit', edit_company_group_user_path %> |
<%= link_to 'Back', company_groups_path %>
<%= link_to 'go to users', company_group_users_path(user_id: @user.id) %>
